<section class="section section-lg bg-soft">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8">
                <h2 class="h1 font-weight-light mb-3"><strong>Top Quality</strong> Websites</h2>
                <p class="lead mb-4">Built with the latest tech stacks, our websites are scalable, secure, and ready for tomorrow.</p>
                <div class="d-flex align-items-center">
                  

                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="github-big-icon">
                  <span class="fab fa-github"></span>
                </div>
              </div>
        </div>
        <div class="row mt-6">
            <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                <div class="card border-light p-4">
                    <!-- Header -->
                    <div class="card-header bg-white pb-0">
                        <span class="d-block">
                            <span class="h3 text-gray font-weight-bold align-top">
                                Our Competitors
                            </span>
                        </span>
                    </div>
                    <!-- End Header -->
                    <!-- Content -->
                    <div class="card-body">
                        <ul class="list-group list-group-flush price-list mb-4">
                            <li class="list-group-item bg-white pl-0"><strong>Outdated Designs</strong> Old and Unprofessional </li>
                            <li class="list-group-item bg-white pl-0"><strong>Poor Navigations</strong> Confusing Menus</li>
                            <li class="list-group-item bg-white pl-0"><strong>Cluttered Layout</strong> Poorly Organized</li>
                            <li class="list-group-item bg-white pl-0"><span class="icon-danger"><span class="fas fa-times-circle mr-2"></span></span> No Premium plugins</li>
                            <li class="list-group-item bg-white pl-0"><span class="icon-danger"><span class="fas fa-times-circle mr-2"></span></span> No Scalability</li>
                            <li class="list-group-item bg-white border-0 pl-0 pb-0"><span class="icon-danger"><span class="fas fa-times-circle mr-2"></span></span> No Premium Support</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0 mt-lg-n4">
                <div class="card border-light p-4">
                    <!-- Header -->
                    <div class="card-header bg-white pb-0">
                        <span class="d-block">
                            <span class="h3 text-primary font-weight-bold align-top">
                               TopSoftware 
                            </span>
                        </span>
                    </div>
                    <!-- End Header -->
                    <!-- Content -->
                    <div class="card-body">
                        <ul class="list-group list-group-flush price-list mb-5">
                            <li class="list-group-item bg-white pl-0"><strong>Modern and Professional Design</strong> visually appealing</li>
                            <li class="list-group-item bg-white pl-0"><strong>Intuitive Navigation</strong> Easy-to-use</li>
                            <li class="list-group-item bg-white pl-0"><strong>Reliable Security</strong> protect user data</li>
                            <li class="list-group-item bg-white pl-0"><span class="icon-success"><span class="fas fa-check-circle mr-2"></span></span> Premium plugins</li>
                            <li class="list-group-item bg-white pl-0"><span class="icon-success"><span class="fas fa-check-circle mr-2"></span></span> Scalability</li>
                            <li class="list-group-item bg-white border-0 pl-0 pb-0"><span class="icon-success"><span class="fas fa-check-circle mr-2"></span></span> Premium Support</li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>